@model NewsWebApp.ViewModels.PostCreateViewModel
@{
    ViewData["Title"] = "Create Post";
    Layout = "~/Views/Shared/_Admin.cshtml";
    //var categories = ViewData["categories"] as IEnumerable<Category>;
}

<div class="container">
    <div class="row">
        
        <div class="col-md-12 cr">
            <h1>@*Create New Post*@</h1>

            <div class="container my-5">
                <form class="h-100" asp-controller="Posts" enctype="multipart/form-data" asp-action="Create" method="post">
                    <div class="mb-5">
                        <input class="form-control" placeholder="Add post title" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="Content" class="form-label"></label>
                        <textarea class="create-post form-control" asp-for="Content"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label  w-100">Categories</label>
                                <select multiple name="SelectedCategoryIds" id="SelectedCategoryIds" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="s2createcat form-control w-100 required"></select>

                                @*<select asp-for="Categories" multiple name="SelectedCategoryIds" id="SelectedCategoryIds" asp-items="@(new SelectList(Model.Categories,"Id","Name"))" class="s2createcat form-control w-100 required"></select>*@
                                @*<span id="category" class="text-danger"></span>*@

                            </div>
                            <div class="mb-3">
                                <label class="form-label w-100">Tags</label>
                                <select asp-for="Tags" multiple name="SelectedTagIds" id="SelectedTagIds" asp-items="@(new SelectList(Model.Tags,"Id","Name"))" class="s2createtag form-control w-100 required"></select>
                                <span id="tagEErr" class="text-danger"></span>


                            </div>

                            <div class="mb-3">
                                
                                 <label class="form-label w-100">Scheduled</label>

                               <input     asp-for="CreatedDateString"  value="@DateTime.Now.ToString("s")" type="datetime-local"  class="form-control" />

                           
                            </div>

                            <div class="mb-3">
                                <label asp-for="PostStatus" class="form-label"></label>
                                <select asp-for="PostStatus" asp-items="Html.GetEnumSelectList<PostStatus>()" class="form-control"></select>
                            </div>
                            <button id="send" type="submit" class="btn mt-3 btn-lg btn-primary">Create New Post</button>

                        </div>
                        <div class="col-md-8">
                            <div class="upload-img p-4">
                                <img id="editimg" src="~/uploads/placeholder.png" style="width:100%" />
                                <input id="myimg" type="file" asp-for="Picture" name="Picture" class="custom-in" />
                            </div>
                        </div>

                    </div>


                </form>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script>
       $("document").ready(function(){


   
})

            var today = new Date().toISOString().slice(0, 16);


            document.getElementsByName("schedule-post")[0].min = today;
            //document.getElementsByName("schedule-post")[0].value= today;

        $("#send").click(function () {
            if ($('#SelectedCategoryIds')) {
               $("#category").text("Category is required.");
           }
           if ($('#SelectedTagIds')) {
               $("#tagErr").text("Tag is required.");
           }
       })
        
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
