@model string
@{
    ViewData["Title"] = "404 Page Not Found ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-5 text-center">
    <img src="~/uploads/404.png" alt="Alternate Text" />
    <br />
    <a href="/" class="shadow-sm mt-4 btn btn-primary">GO TO HOMEPAGE</a>
</div>