{% extends 'base.html' %}{% block content %}
<div class="container">
  <div class="row no-gutters">
    {% for m in movies %}
    <div class="col-md-3 my-3 products">
      <div class="card">
        <img src="{{m.poster}}" class="card-img" />
        <a class="more-details" href="/movie_detail/{{m.id}}">
          <div class="card-body py-4">
            <h3 class="font-weight-bold text-dark">{{m.title}}</h3>
            <h4 class="font-weight-normal">${{ m.budget }}</h4>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

    <div>
      {% if pagination.current_page > 1 %}
      <a href="/movie_list/page/{{pagination.previous_page}}">
        Previous
      </a>
      {% endif %}

      {% if pagination.current_page != pagination.past_page %}
      <a href="/movie_list/page/{{pagination.next_page}}">
        Next Page
      </a>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
