a {
  text-decoration: none !important;
}
body {
  font-family: sans-serif;
  background-color: #e4e6eb;
}
nav {
  background-color: #fff;
}
nav button {
  font-size: 13px !important;
}
.btns a {
  text-decoration: none;
  color: #fff;
  padding: 4px;
}
.signin form {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signinhere {
  border-bottom: 2px solid #d9cccc;
}

.products .card {
  transition: transform 1.2s;
  border: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.products .card-body {
  bottom: 0;
  padding: 0 10px;
}
.products .card-title {
  margin-bottom: 4px;
  font-size: 16px;
  color: blue;
  text-transform: uppercase;
  margin-top: 10px;
}
.products h6 {
  font-size: 12px !important;
}
.products .card:hover {
  transform: scale(1.1);
}

.products img {
  height: 250px;
  object-fit: cover;
}
